<div class="container">
	<footer class="row row-cols-5 py-5 my-5 border-top">
		<div class="col">
			<p class="text-muted">Groupe Relations © 2023</p>
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="{{ path('show_mentions_legales') }}" class="nav-link p-0 text-muted">{% trans %}Mentions légales{% endtrans %}</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="{{ path('show_cgv') }}" class="nav-link p-0 text-muted">{% trans %}Conditions Générales de Vente{% endtrans %}</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="{{ path('show_plan') }}" class="nav-link p-0 text-muted">{% trans %}Plan du site{% endtrans %}</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="#" class="nav-link p-0 text-muted">{% trans %}Imprimer la page{% endtrans %}</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="{{ path('show_newsletter') }}" class="nav-link p-0 text-muted">{% trans %}S'inscrire à la Newsletter{% endtrans %}</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item mb-2">
					<a href="{{ path('show_partage') }}" class="nav-link p-0 text-muted">{% trans %}Partage{% endtrans %}</a>
				</li>
			</div>
			<div class="col">
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="{{ path('app_login') }}" class="nav-link p-0 text-muted">{% trans %}Êtes-vous administrateur{% endtrans %} ?</a>
					</li>

				</ul>
			</div>
			<div class="col">
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="{{ path('app_logout') }}" class="nav-link p-0 text-muted">{% trans %}Se déconnecter{% endtrans %}</a>
					</li>
				</ul>
			</div>
		</footer>
	</div>
